/* Roots */
/* Add variables for main colours */
:root {
  --primary_colour: #4d6a3c;
  --secondary_colour: #e9ddc8;
  --third_colour: #5a1e26;
}

/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #e9c8d3 !important ;
  font-family: "Raleway", sans-serif !important;
}

/* Global Classes */

.hide {
  display: none;
}

/* Custom style */

.header {
  display: flex;
  font-size: 25px;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 15%;
  background-color: #4d6a3c;
  color: white;
  border-color: #1b1816 !important;
}

h1 {
  color: #e9c8d3 !important;
}

h2 {
  margin: 20px !important;
}

.header {
  position: top fixed;
  height: fit-content;
}
.header #logo {
  height: 6em;
  overflow: hidden;
  /* z-index: 200; */
}

#slogan {
  margin: 0;
  padding: 0;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1rem;
  text-align: right;
}

.dropdown-menu {
  transform: translate3d(-130px, 46px, 0px) !important;
  background-color: rgba(255, 255, 255, 0.695) !important ;
  border-radius: 10px;
  color: rgb(255, 255, 255);
}

.dropdown button {
  font-size: 1.2rem !important;
}

.wishlist button {
  background-color: transparent;
  border: none;
  width: 100%;
  text-transform: capitalize;
  font-weight: 800;
}

.wishlist button:hover {
  background-color: #4d6a3c43;
}

.wishlist hr {
  margin: 0 auto;
  width: 80% !important;
  border-color: black;
}

.wishlist ul {
  list-style: none;
  font-size: 1rem;
}

.wishlist ul:hover {
  background-color: inherit;
}

.wishlist li {
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
}

.remove-poi-btn {
  border: 1px solid rgba(0, 0, 255, 0.534);
  background-color: transparent;
  color: rgba(0, 0, 255, 0.527);
  width: 1.5rem !important;
  height: 1.5rem !important;
  border-radius: 50%;
  font-size: 1rem;
}

.btn {
  background-color: #5a1e26 !important  ;
  border-radius: 10px !important;
  border-color: #4d6a3c !important;
  border-bottom: 2px solid #5a1e26 !important;
  border-bottom: 4px solid #5a1e26 !important;
  color: rgb(255, 255, 255) !important;
}

.welcome h2 {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 10px;
}

.container-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-2 {
  width: 95%;
  margin: 0 auto;
}

#poi-categories-wrapper {
  margin-right: 1em;
}

#search-city {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#search-btn {
  font-size: 20px;
  background-color: #5a1e26;
  border-radius: 10px;
  color: rgb(255, 255, 255) !important ;
  box-shadow: 5px color #4d6a3c;
  padding: 5px 75px;
  margin: 20px;
  position: center;
}

#city {
  font-size: 20px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid black;
  height: 50px;
  padding-left: 5px;
}

.col1 {
  display: grid;
  grid-template-rows: 700px 200px;
  grid-template-columns: 6fr 1fr;
  gap: 30px;
  margin-bottom: 30px;
  grid-template-areas:
    "map map map map aside"
    "weather weather weather weather aside";
}

#map {
  grid-area: map;
  margin-top: 50px;
}
.col2 {
  grid-area: aside;
  margin-top: 50px;
}

.aside {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  text-decoration: none;
  column-gap: 0.5rem;
}

.city-link {
  color: var(--primary_colour);
}

#five-day {
  grid-area: weather;
}

.weathersection {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-top: 50px;
  gap: 20px;
}

.weather-card {
  padding: 10px;
  color: var(--primary_colour);
  background-color: var(--secondary_colour);
  border-radius: 5px;
}

/* Category Grid CSS */
#categoryGrid {
  margin: 0px 5%;
  display: grid;
  grid-template-rows: 400px 400px 400px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "London London London"
    "Madrid Madrid Paris"
    "Amsterdam Amsterdam Berlin";
}

#London {
  border-top: 9px solid #e9ddc8;
  grid-area: London;
  background-image: url("../images/london.jpg");
}
#Madrid {
  border-top: 9px solid #e9ddc8;
  grid-area: Madrid;
  background-image: url("../images/madrid.jpg");
}

#Paris {
  border-top: 9px solid #e9ddc8;
  grid-area: Paris;
  background-image: url("../images/paris.jpg");
}

#Amsterdam {
  border-top: 9px solid #e9ddc8;
  grid-area: Amsterdam;
  background-image: url("../images/amsterdam.jpg");
}

#Berlin {
  border-top: 9px solid #e9ddc8;
  grid-area: Berlin;
  background-image: url("../images/berlin.jpg");
}

.categoryGridArea {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  cursor: pointer;
  display: grid;
  align-content: end;
}

.heading {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 35px;
  height: 25px;
  color: white;
  font-size: 25px;
  border-bottom: 19px solid#4d6a3c;
}

/* Footer */
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3%;
}

/* Media Query */
@media screen and (max-width: 600px) {
  #categoryGrid {
    margin: 0px 5%;
    display: grid;
    grid-template-rows: 500px 500px 500px 500px 800px;
    grid-template-columns: 1fr;
    grid-template-areas:
      "London"
      "Madrid"
      "Paris"
      "Amsterdam"
      "Berlin";
  }
  .weathersection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 50px;
    gap: 20px;
    margin-bottom: 20px;
  }

  .col1 {
    display: grid;
    grid-template-rows: 700px 150px 300px;
    grid-template-columns: 1fr;
    margin-bottom: 20px;
    grid-template-areas:
      "map"
      "weather"
      "aside";
  }
}

/* Animation */

.rubberBand {
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-iteration-count: 3;
}

@-webkit-keyframes rubberBand {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes rubberBand {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
